<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AD.Properties.Settings.StrConexion" connectionString="Data Source=DESKTOP-E3P1D55\SQLEXPRESS;Initial Catalog=Expediente;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>