<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AD.Properties.Settings.StrConexion" connectionString="Data Source=DESKTOP-NS1R1H3\SQLEXPRESS;Initial Catalog=SeleccionBD;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>