<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LN.Properties.Settings.StrConexion" connectionString="Data Source=DESKTOP-O0EGUGJ;Initial Catalog=SeleccionBD;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>