<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SeleccionBDEntities" connectionString="metadata=res://*/Entidades.csdl|res://*/Entidades.ssdl|res://*/Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E3P1D55\SQLEXPRESS;initial catalog=Expediente;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExpedienteEntities" connectionString="metadata=res://*/Expediente.csdl|res://*/Expediente.ssdl|res://*/Expediente.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E3P1D55\SQLEXPRESS;initial catalog=Expediente;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExpedienteEntities1" connectionString="metadata=res://*/Expediente.csdl|res://*/Expediente.ssdl|res://*/Expediente.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E3P1D55\SQLEXPRESS;initial catalog=Expediente;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExpedienteEntities2" connectionString="metadata=res://*/Expediente.csdl|res://*/Expediente.ssdl|res://*/Expediente.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E3P1D55\SQLEXPRESS;initial catalog=Expediente;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>